<h2 style="text-align: center;">Edit Company Details</h2>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
<form>
  <!-- Email input -->
  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example1" style="width: 6rem;">company_name</label>
    <input type="company_name" id="form2Example1" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_email</label>
    <input type="company_email" id="form2Example2" class="form-control"/>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_type</label>
    <input type="company_type" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_address</label>
    <input type="company_address" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_city</label>
    <input type="company_city" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_state</label>
    <input type="company_state" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_pincode</label>
    <input type="company_pincode" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_contact_1</label>
    <input type="company_contact_1" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">company_contact_2</label>
    <input type="company_contact_2" id="form2Example2" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    

    
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" style="margin-top: 10px;">Submit</button>

  <!-- Register buttons -->
  </div>
  <div class="col-md-4">
  </div>
</div>
</form>