<h2 style="text-align: center;">Edit Company Details</h2>
&nbsp;&nbsp;&nbsp;<%= link_to "Back", home_index_url, style:"font-size: 15px;" %>&nbsp;&nbsp;&nbsp;
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
<form>
  <!-- Email input -->
  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example1" style="width: 6rem;">Company Name</label>
    <input type="company_name" id="form2Example1" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Email</label>
    <input type="company_email" id="form2Example2" class="form-control"/>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Type</label>
    <input type="company_type" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Address</label>
    <input type="company_address" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company City</label>
    <input type="company_city" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company State</label>
    <input type="company_state" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Pincode</label>
    <input type="company_pincode" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Contact_1</label>
    <input type="company_contact_1" id="form2Example2" class="form-control" />
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Contact_2</label>
    <input type="company_contact_2" id="form2Example2" class="form-control" />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    

    
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" style="margin-top: 10px;">Submit</button>

  <!-- Register buttons -->
  </div>
  <div class="col-md-4">
  </div>
</div>
</form>